In [ ]:
# Name: SAIRUSHI NANASAHEB GADAKH 
# Roll no.: 9169

In [36]:
# list 1
S=["Name:Sairushi Gadakh","Class:T.Y.BSc","Roll no.: 9169"]              # create a list
print(S)
type(S)
print(type(S))

['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Roll no.: 9169']
<class 'list'>

In [37]:
# adding an element at the end of the given list Here list S
S.append("DOB:21-01-2002")
print(S)

['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Roll no.: 9169', 'DOB:21-01-2002']

In [38]:
S.insert(2,"Department: Statistics")           # adding an elememt at specified position
S.insert(5,"Class:T.Y.BSc")
print(S)

['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Department: Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Class:T.Y.BSc']

In [39]:
C=S.count("Class:T.Y.BSc")    # Return the number of element with specified value
print(C)
print(S[:1])                  # only for first index value
print(S[1:])                  # for index value from first onwards 
print(S[2:5])                 # access items

2
['Name:Sairushi Gadakh']
['Class:T.Y.BSc', 'Department: Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Class:T.Y.BSc']
['Department: Statistics', 'Roll no.: 9169', 'DOB:21-01-2002']

In [40]:
## negative index
print(S[-1])                 # for the last element of the list
print(S[-2:])
print(S[:-3])

Class:T.Y.BSc
['DOB:21-01-2002', 'Class:T.Y.BSc']
['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Department: Statistics']

In [41]:
# change item in the list
print(S)
S[2]="Department of Statistics"
print(S)

['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Department: Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Class:T.Y.BSc']
['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Class:T.Y.BSc']

In [42]:
S.extend(["Address:Kumar Galaxy, Bhawani Peth, Pune"])       #adds element to the end of list
print(S)

['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Class:T.Y.BSc', 'Address:Kumar Galaxy, Bhawani Peth, Pune']

In [43]:
S.copy()               # gives a copy of list
print(S)

['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Class:T.Y.BSc', 'Address:Kumar Galaxy, Bhawani Peth, Pune']

In [44]:
  i=S.index("Roll no.: 9169")          #Returns the index of the element with specified value
  print(i)
  print(S)

3
['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Class:T.Y.BSc', 'Address:Kumar Galaxy, Bhawani Peth, Pune']

In [45]:
# loopingthrough list
for i in S:
       print(i)

Name:Sairushi Gadakh
Class:T.Y.BSc
Department of Statistics
Roll no.: 9169
DOB:21-01-2002
Class:T.Y.BSc
Address:Kumar Galaxy, Bhawani Peth, Pune

In [29]:
p=S.pop(5)                # Removes the element at specified position 
print(p)
print(S)

Class:T.Y.BSc
['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Address:Kumar Galaxy, Bhawani Peth, Pune']

In [30]:
print(S)
S.remove("Class:T.Y.BSc")                 #Removes the item with the specified value
print(S)

['Name:Sairushi Gadakh', 'Class:T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Address:Kumar Galaxy, Bhawani Peth, Pune']
['Name:Sairushi Gadakh', 'Department of Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Address:Kumar Galaxy, Bhawani Peth, Pune']

In [31]:
print(S)
S.reverse()    # reverses theorder of the list

print(S)

['Name:Sairushi Gadakh', 'Department of Statistics', 'Roll no.: 9169', 'DOB:21-01-2002', 'Address:Kumar Galaxy, Bhawani Peth, Pune']
['Address:Kumar Galaxy, Bhawani Peth, Pune', 'DOB:21-01-2002', 'Roll no.: 9169', 'Department of Statistics', 'Name:Sairushi Gadakh']

In [32]:
S.sort()        # sorts the list
print(S)

['Address:Kumar Galaxy, Bhawani Peth, Pune', 'DOB:21-01-2002', 'Department of Statistics', 'Name:Sairushi Gadakh', 'Roll no.: 9169']

In [33]:
S.clear()                   # removes all element from the list
print(S)
len(S)                      # gives length of list

[]

0

In [ ]:
##### List 2

In [34]:
L2=["Sir Parashurambhau College","Tilak Road","Tal. Haveli"]
print(L2)
print(type(L2))

['Sir Parashurambhau College', 'Tilak Road', 'Tal. Haveli']
<class 'list'>

In [35]:
L2.append("Pune")                      # adding an element at the end of the given list Here list S
print(L2)

['Sir Parashurambhau College', 'Tilak Road', 'Tal. Haveli', 'Pune']

In [ ]:
L2.insert(2,"Sadashiv Peth")            # adding an elememt at specified position
print(L2)

['Sir Parashurambhau College', 'Tilak Road', 'Sadashiv Peth', 'Tal. Haveli', 'Pune']

In [ ]:
L2.count("Tilak Road")               # Return the number of element with specified value

1

In [ ]:
L2.extend(["Maharashtra","India"])   # add elements to the end of list
print(L2)

['Sir Parashurambhau College', 'Tilak Road', 'Sadashiv Peth', 'Tal. Haveli', 'Pune', 'Maharashtra', 'India']

In [ ]:
L2.copy()        # Returns a copy of list
print(L2)

['Sir Parashurambhau College', 'Tilak Road', 'Sadashiv Peth', 'Tal. Haveli', 'Pune', 'Maharashtra', 'India']

In [ ]:
C=L2.clear() # Removes all element froom the list
print(C)

None

In [ ]:
print(L2)

['Sir Parashurambhau College', 'Tilak Road', 'Sadashiv Peth', 'Tal. Haveli', 'Pune', 'Maharashtra', 'India']

In [ ]:
L2.index("Pune")             #Returns the index of the element with specified value

4

In [ ]:
L2.pop(2)    # Removes the element at specified position
print(L2)

['Sir Parashurambhau College', 'Tilak Road', 'Tal. Haveli', 'Pune', 'Maharashtra', 'India']

In [ ]:
L2.remove("Tal. Haveli")      #Removes the item with the specified value
print(L2)

['Sir Parashurambhau College', 'Tilak Road', 'Pune', 'Maharashtra', 'India']

In [ ]:
L2.reverse()  # reverses theorder of the list
print(L2)

['India', 'Maharashtra', 'Pune', 'Tilak Road', 'Sir Parashurambhau College']

In [ ]:
L2.sort()    # sorts the list
print(L2)

['India', 'Maharashtra', 'Pune', 'Sir Parashurambhau College', 'Tilak Road']

In [1]:
##############################################################################################################################################################

In [46]:
 A=("Sairushi Gadakh","DOB: 21-01-2002","T.Y.BSc","Department of Statistics","Roll no.: 9169")                 # create  a tuple
 print(A)
 print(type(A))

('Sairushi Gadakh', 'DOB: 21-01-2002', 'T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169')
<class 'tuple'>

In [48]:
c=A.count("Sairushi Gadakh")       # counts no. of element in the tuple
print(c)

len(A)

1

5

In [6]:
print(A[:1])              # for index value one
print(A[1:])              # from first index value onward

('Sairushi Gadakh',)
('DOB: 21-01-2002', 'T.Y.BSc', 'Roll no.: 9169')

In [51]:
# access elements in tuple
print(A[0])
print(A[2:4])
print(A[:5])

Sairushi Gadakh
('T.Y.BSc', 'Department of Statistics')
('Sairushi Gadakh', 'DOB: 21-01-2002', 'T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169')

In [52]:
# Negative access
print(A[-4])
print(A[-4:])

DOB: 21-01-2002
('DOB: 21-01-2002', 'T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169')

In [59]:
# looping through tuple
for j in A:
    print(j)

Sairushi Gadakh
DOB: 21-01-2002
T.Y.BSc
Department of Statistics
Roll no.: 9169

In [60]:
# check whether an element belongs to tuple
if "Sairushi Gadakh" in A:
       print("Sairushi Gadakh is in the tuple")

Sairushi Gadakh is in the tuple

In [61]:
len(A)                # give slength of tuple

5

In [62]:
A.count("Department of Statistics")             # returns the no. of times a sprcified value occur in a tuple

1

In [65]:
print(A)             
A.index("T.Y.BSc")       # seraches  the tuple for a specified value and return the position of where it was found

('Sairushi Gadakh', 'DOB: 21-01-2002', 'T.Y.BSc', 'Department of Statistics', 'Roll no.: 9169')

2

In [68]:
B=("Sir Parashurambhau College",["Tilak Road","Tal. Haveli","Pune"],["Maharashtra","India"])
print(B)

('Sir Parashurambhau College', ['Tilak Road', 'Tal. Haveli', 'Pune'], ['Maharashtra', 'India'])

In [69]:
len(B)

3

In [74]:
# nested tuple
print(B[1][2]) 
print(B[2][1])
print(B[-2][-2])

Pune
India
Tal. Haveli

In [77]:
print("Sir Parashurambhau College" in B)                       # in operation
print("Sadashiv Peth" in B)
print("Sadashi Peth" not in B)              # Not in operation

True
False
True

In [87]:
# iteartion using loop
for x in (B):
      print("I am going to",x)

I am going to Sir Parashurambhau College
I am going to ['Tilak Road', 'Tal. Haveli', 'Pune']
I am going to ['Maharashtra', 'India']

In [88]:
###########################################################################################################################################